body {
    background-color: aliceblue;
}

.title h2 {
    color: black;
    margin-top: 50px;
}

.poem {
    background-color: black;
    color: aliceblue;
    font-size: medium;
    margin: 50px;
}

footer {
    background-color: aliceblue;
    color: black;
    margin: auto;
}